.pricingCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 20px auto 20px;
  max-width: 1200px;
  // margin-top: 100px;
  // border: 5px solid royalblue;
  align-items: stretch;
  justify-content: space-between;
  max-width: 820px;
}

.tagLine {
  font-size: 5rem;
  letter-spacing: -0.15rem;
  line-height: 1.2;
  margin-top: 1.8rem;
}

.heading {
  font-size: 3.2rem;
  letter-spacing: -0.1rem;
  line-height: 1;
  margin: 3rem auto 2rem;
  text-align: center;
}

.pricingCard {
  padding: 0 20px;
  border: 1px solid royalblue;
  background: #fff;
  border-radius: 10px;
  height: 410px;
  text-align: center;
  color: #000;
  width: 240px;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.paragraph {
  font-size: 1.2rem;
  margin: 40px 15%;
}

.footer {
  // bottom: 0;
  padding: 20px;
  // position: fixed;
}

.price {
  color: var(--blue-070);
  font-size: 3.4em;
  font-weight: 400;
  margin-top: 40px;
}

.button {
  width: 130px;
}

@media (max-width: 768px) {
  .pricingCardContainer {
    flex-direction: column;
    // height: 350px;
    // margin: 10px 5%;
    // margin: 10px 10px;
  }
  .pricingCard {
    width: 100%;
    margin: 20px 0;
  }
}
